.formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
}

input{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 10px;
    border: 3px solid purple;
}


label{
    font-size: 16px;
    color: purple;
    font-weight: 500;
}

span{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[focused="true"]{
    border: 2px solid red;
}

input:invalid[focused="true"] ~ span{
    display: block;
}